/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/WkQpV0k5qGlb.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/TDFqVVDrHbmJ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/scpOE140h0v0.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/EVx7r9Ndu3K9.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/42loxHGhgGPy.otf') format('truetype');
}