/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/dg8hIs312jqM.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/V3LJu3uTsfpm.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/xzgEz9iEfmCB.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/QF6iqCXhQWlH.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/8vMkXfm9Kc8S.otf') format('truetype');
}