/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/jYAukYHxlqwH.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/q6W6ZncVbpAO.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/nTm2BDwulSB8.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/DlG2cJbCQZEe.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/CoZPtOtamuUz.otf') format('truetype');
}