/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/doak36YBsZHf.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/QLLqQEMoR3ro.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/Lvg3QhW7FiJ8.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/hd5vNgBvyxQI.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/4TZ9biRJxE91.otf') format('truetype');
}