/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/gQoG9xaDicHx.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/zxB4emrcQqde.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/Q2zwZZVEZwXb.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/eXFD5wvr1lIq.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/fAvxyo5ITZkr.otf') format('truetype');
}