/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/YH7ij1iaUTwy.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/wNI3EkatQgai.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/FwvHhwrIKGU5.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/9rw1iKC2jWki.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/nB9VXvFFQRM3.otf') format('truetype');
}