/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/2LrjmWHpscfx.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/gt6y1ORM3vzg.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/Z0JJ6f2y6XB5.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/lWV3Wpr1DzyJ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/JeH8mk3AEfm4.otf') format('truetype');
}