/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/ydYeXcq9gMGk.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/CmYsuftaodvd.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/mvZzKv8h8f4b.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/fUWd55NWlx8n.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/OdhbEdbDYe4t.otf') format('truetype');
}