/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/2aapk37TkHhq.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/0pN0UsqWKK9t.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/yoMPl4fcQr6J.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/125wTmR1JEa1.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/eaIBms5O7cfm.otf') format('truetype');
}