/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/wnGWYlgySKEV.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/8mGanqC57JQ3.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/XoppOZe2DWgp.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/yV5xpGj0zGjb.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/zrW5KyvFd3z1.otf') format('truetype');
}