/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/xpyPDdqDUBRf.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/mKq5BldHn2a2.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/0GNTkYmvl1e7.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/aRphF00q1ZLz.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/kppICQkqSdm6.otf') format('truetype');
}