/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/8Qzux1NBvwtQ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/OL3JgJtmxSi9.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/pcN6nqCpdN0S.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/wZVeKsfE3L2C.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/9Qnb5TDnrnm0.otf') format('truetype');
}