/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/Fypnr8BO7ym1.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/DMVRaJXdKfYX.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/uuBdeSb5FRBl.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/uffrsAd0LsJn.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/iaeyZG83GatX.otf') format('truetype');
}